{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>{{ username }}'s Homepage</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if team %}
            <h1> Your FABULOUS team! <small class="float-right">{{ team.count() }} team members</small></h1>
            <ul class="media-list">
                {% for pokemon in team %}
                <li class="media review-item">
                    <div class="media-body">
                        <span class="float-right">
                            <small>{{ pokemon['name'] }}</small>
                        </span>
                        <strong>For: <a href="{{ url_for('pokemon.pokemon_detail', pokemon=pokemon['name']) }}">
                            </a>
                        </strong>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1> Your team is empty :( </h1>
        {% endif %}

        <h1> Reviews <small class="float-right">{{ reviews.count() }} reviews</small></h1>
        <ul class="media-list">
            {% for review in reviews %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ review.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('pokemon.pokemon_detail', pokemon=pokemon) }}">
                            {{ review.pokemon }}
                        </a>
                    </strong>
                    <p>
                        {{ review.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}