{% extends "base.html" %}

{ #
    We should be able to navigate to `/ability/<ability_name>` and see a list of Pokemon names
        identifying Pokemon that have the ability specified by `ability_name`.
        
        The `get_pokemon_with_ability()` method of
        the `PokeClient` class returns a list of Pokemon names with the ability. The list of
        Pokemon names should be presented as a series of clickable links that will take the 
        website user to the info page for that Pokemon, located at `/pokemon/<pokemon_name>`.
    
        There should be a clearly visible link to go back to the front-page of the website, located
        at `/`.
# }

{% block content %}
<a href="{{ url_for('index') }}"><b> Back To Index </b></a>

<h3>Pokemon with Ability</h3>

<ol>
    {% for p in pokemon %}
        <li><a href="{{ url_for('pokemon_info', pokemon_name = p) }}"><b>{{ p }}</b></a></li>
    {% endfor %}
</ol>

{% endblock %}