{% extends "base.html" %}

{ # 
    The list of pokemon should be seen at the route `/`.

    Each element in the list should be a link to another page which will give more info about
    the chosen Pokemon with a certain name.
    The additional Pokemon info page should be located at `/pokemon/<pokemon_name>`.

    You can get a list of Pokemon names with the `get_pokemon_list()` method of the 
    `PokeClient` class.
# }

{# making an ordered list #} 
{% block content %}

<h3> Index of All Pokemon </h3>

<ol>
    {% for n in names %}
        <li><a href="{{ url_for('pokemon_info',pokemon_name=n) }}"><h3>{{ n }}</h3></a></li>
    {% endfor %}
</ol>
{% endblock %}